:root {
  --primary-main: #333333;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  font-family: "Sofia Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  line-height: 1;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

ul,
ol {
  padding-left: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 2.1rem;
}
@media (min-width: 1440px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.9rem;
  }
}
@media (min-width: 360px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
}

.highlighted-text {
  color: var(--primary-main);
}
