.cv {
  display: grid;
  grid-template-areas:
    "profilePhoto summarySection       "
    "sidePanel    workExperienceSection";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  gap: 0.8rem;
  max-width: 800px;
  padding: 0.8rem;
  margin: 1rem auto;
  aspect-ratio: 210 / 297;
  background-color: white;
  border-radius: 0.8rem;
}

.profilePhoto {
  grid-area: profilePhoto;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}

.summarySection {
  grid-area: summarySection;
  background-color: bisque;
}

.sidePanel {
  grid-area: sidePanel;
  display: grid;
  row-gap: 0.8rem;
}

.sidePanelSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.sidePanelSectionItem {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.workExperienceSection {
  grid-area: workExperienceSection;
  background-color: darkgray;
}

.sidePanelSection:nth-child(odd) {
  background: lightgray;
}

.sidePanelSection:nth-child(even) {
  background: darkgray;
}
