.cv {
  display: grid;
  grid-template-areas:
    "profilePhoto nameAndPostSection"
    "profilePhoto summarySection    "
    "sidePanel    experienceSection ";
  grid-template-columns: min-content auto;
  grid-template-rows: min-content 1fr;
  gap: 2rem;
  max-width: 800px;
  padding: 2rem;
  margin: 2rem auto;
  aspect-ratio: 210 / 297;
  background-color: white;
  border-radius: 0.8rem;
}

.profilePhoto {
  grid-area: profilePhoto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  border-radius: 0.8rem;
  object-fit: cover;
}

.nameAndPostSection {
  grid-area: nameAndPostSection;
}

.summarySection {
  grid-area: summarySection;
  display: grid;
  row-gap: 0.4rem;
}

.sidePanel {
  grid-area: sidePanel;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2rem;
}

.sidePanelSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.iconWithText {
  display: flex;
  align-items: flex-start;
  column-gap: 0.4rem;
}
.iconWithText svg {
  flex: none;
  height: 18px;
  width: 18px;
  margin-top: -1px;
}
.iconWithText__small {
  display: flex;
  align-items: flex-start;
  column-gap: 0.2rem;
  font-size: 1.3rem;
}
.iconWithText__small svg {
  flex: none;
  height: 16px;
  width: 16px;
  margin-top: -1px;
}

.experienceSection {
  grid-area: experienceSection;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 1.6rem;
}

.experienceSubsection {
  display: grid;
  row-gap: 0.8rem;
}

.experience {
  display: grid;
  row-gap: 0.4rem;
}

.experienceHeader {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2.4rem;
}

.experienceHeader > :not(:last-child) {
  position: relative;
}
.experienceHeader > :not(:last-child)::after {
  content: "";
  position: absolute;
  right: -1.2rem;
  top: 0.4rem;
  height: 1.4rem;
  width: 1.5px;
  background-color: black;
}

.experienceSkills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  column-gap: 1.2rem;
}

.twoCharactersBox {
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  background-color: black;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
}

@media screen and (max-width: 840px) {
  .cv {
    margin: 2rem;
  }

  .experienceHeader {
    grid-auto-flow: row;
  }

  .experienceHeader > :not(:last-child)::after {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .cv {
    grid-template-columns: auto;
    grid-template-areas:
      "nameAndPostSection"
      "profilePhoto"
      "summarySection"
      "sidePanel"
      "experienceSection";
    border-radius: 0;
    margin: 0;
  }

  .nameAndPostSection {
    text-align: center;
  }

  .iconWithText__small {
    column-gap: 0.4rem;
    font-size: 1.6rem;
  }
  .iconWithText__small svg {
    height: 18px;
    width: 18px;
  }
}

@page {
  margin: -28px;
}
