.cv {
  display: grid;
  row-gap: 0.8rem;
  padding: 0.8rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.8rem;
}

.profilePhoto {
  width: 100%;
  height: 100%;
}

.summary {
  background-color: bisque;
}

.contactsSection {
  background-color: burlywood;
  /* background-color: var(--primary-main); */
  /* color: white; */
}

.educationSection {
  background-color: wheat;
}

.skillsSection {
  background-color: lightgray;
}

.workExperienceSection {
  background-color: darkgray;
}
