.cv {
  display: grid;
  grid-template-areas:
    "profilePhoto summarySection       "
    "sidePanel    workExperienceSection";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  gap: 2rem;
  max-width: 800px;
  padding: 0.8rem;
  margin: 2rem auto;
  aspect-ratio: 210 / 297;
  background-color: white;
  border-radius: 0.8rem;
}

@media (max-width: 840px) {
  .cv {
    margin: 2rem 2rem;
  }
}

.profilePhoto {
  grid-area: profilePhoto;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.summarySection {
  grid-area: summarySection;
  background-color: bisque;
}

.sidePanel {
  grid-area: sidePanel;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2rem;
}

.sidePanelSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.sidePanelSectionItem {
  display: flex;
  align-items: start;
  column-gap: 0.4rem;
}

.sidePanelSectionItem svg {
  flex: none;
  margin-top: -1px;
}

.workExperienceSection {
  grid-area: workExperienceSection;
  background-color: darkgray;
}

.twoCharactersBox {
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  background-color: black;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
}

/* Temporary START */
/* .sidePanelSection:nth-child(odd) {
  background: lightgray;
}
.sidePanelSection:nth-child(even) {
  background: darkgray;
} */
/* Temporary END */
