.cv {
  display: grid;
  grid-template-areas:
    "profilePhoto                       summarySection       "
    "contactsSkillsAndEducationSections workExperienceSection";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content 1fr;
  gap: 0.8rem;
  padding: 0.8rem;
  aspect-ratio: 210 / 297;
  background-color: darkseagreen;
}

.profilePhoto {
  grid-area: profilePhoto;
  width: 100%;
  height: 100%;
}

.summarySection {
  grid-area: summarySection;
  background-color: bisque;
}

.contactsSkillsAndEducationSections {
  grid-area: contactsSkillsAndEducationSections;
  display: grid;
  row-gap: 0.8rem;
}

.contactsSection {
  background-color: burlywood;
}

.contact {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 0.4rem;
}

.educationSection {
  background-color: wheat;
}

.skillsSection {
  background-color: lightgray;
}

.workExperienceSection {
  grid-area: workExperienceSection;
  background-color: darkgray;
}
