.cv {
  display: grid;
  grid-template-areas:
    "profilePhoto                       summarySection       "
    "contactsSkillsAndEducationSections workExperienceSection";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  gap: 0.8rem;
  max-width: 800px;
  padding: 0.8rem;
  margin: 1rem auto;
  aspect-ratio: 210 / 297;
  background-color: white;
  border-radius: 0.8rem;
}

.profilePhoto {
  grid-area: profilePhoto;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}

.summarySection {
  grid-area: summarySection;
  background-color: bisque;
}

.contactsSkillsAndEducationSections {
  grid-area: contactsSkillsAndEducationSections;
  display: grid;
  row-gap: 0.8rem;
}

.contactsSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  background-color: burlywood;
}

.contact {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.educationSection {
  background-color: wheat;
}

.skillsSection {
  background-color: lightgray;
}

.workExperienceSection {
  grid-area: workExperienceSection;
  background-color: darkgray;
}
